In [97]:
import requests
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup

In [98]:
url = 'https://hoopshype.com/salaries/players/'
res = requests.get(url)

res

In [168]:
soup = BeautifulSoup(res.content, 'html.parser')

In [169]:
restaurants = []
for row in soup.find_all('tr')[1:]:
    restaurant ={}
    restaurant['name'] = row.find('td').text.replace('\n','')
    restaurant['href'] = row.find('a').attrs['href']
    restaurants.append(restaurant)


restaurants[:5]

[{'name': '\t\t\t\t\t\t1.\t\t\t\t\t',
  'href': 'https://hoopshype.com/player/stephen-curry/salary/'},
 {'name': '\t\t\t\t\t\t2.\t\t\t\t\t',
  'href': 'https://hoopshype.com/player/russell-westbrook/salary/'},
 {'name': '\t\t\t\t\t\t2.\t\t\t\t\t',
  'href': 'https://hoopshype.com/player/chris-paul/salary/'},
 {'name': '\t\t\t\t\t\t4.\t\t\t\t\t',
  'href': 'https://hoopshype.com/player/james-harden/salary/'},
 {'name': '\t\t\t\t\t\t4.\t\t\t\t\t',
  'href': 'https://hoopshype.com/player/john-wall/salary/'}]

In [170]:
players = []
for each in soup.find('td'):
    a = each.find('a')
    players.append(a)
print(players)

[]

In [223]:
import time

players_with_salary = []
count = 0
for each in soup.find_all('tr')[1:]:
    player = {'player_name' : each.find_all('td')[1].text.strip(),
              '19_20_salary' : each.find_all('td')[2].text.strip(),
              '20_21_salary' : each.find_all('td')[3].text.strip(),
             }
    players_with_salary.append(player)
    time.sleep(3)
    count += 1
    if count % 15 == 0:
        print(count)
        print(player)

15
{'player_name': 'Tobias Harris', '19_20_salary': '$32,742,000', '20_21_salary': '$34,358,850'}
30
{'player_name': 'Kristaps Porzingis', '19_20_salary': '$27,285,000', '20_21_salary': '$29,467,800'}
45
{'player_name': 'Rudy Gobert', '19_20_salary': '$25,258,427', '20_21_salary': '$25,775,281'}
60
{'player_name': 'Evan Turner', '19_20_salary': '$18,606,556', '20_21_salary': '$0'}
75
{'player_name': 'Ricky Rubio', '19_20_salary': '$16,200,000', '20_21_salary': '$17,000,000'}
90
{'player_name': 'Mason Plumlee', '19_20_salary': '$14,041,096', '20_21_salary': '$0'}
105
{'player_name': 'Miles Plumlee', '19_20_salary': '$12,400,000', '20_21_salary': '$0'}
120
{'player_name': 'Jeremy Lamb', '19_20_salary': '$10,500,000', '20_21_salary': '$10,500,000'}
135
{'player_name': 'Fred VanVleet', '19_20_salary': '$9,346,153', '20_21_salary': '$0'}
150
{'player_name': 'Thomas Bryant', '19_20_salary': '$8,000,000', '20_21_salary': '$8,333,333'}
165
{'player_name': 'Brandon Ingram', '19_20_salary': '$7,265,485', '20_21_salary': '$9,481,458'}
180
{'player_name': 'Darius Garland', '19_20_salary': '$6,400,920', '20_21_salary': '$6,720,720'}
195
{'player_name': 'Deron Williams', '19_20_salary': '$5,474,787', '20_21_salary': '$0'}
210
{'player_name': 'Robin Lopez', '19_20_salary': '$4,767,000', '20_21_salary': '$5,005,350'}
225
{'player_name': 'Mikal Bridges', '19_20_salary': '$4,161,000', '20_21_salary': '$4,359,000'}
240
{'player_name': 'Donovan Mitchell', '19_20_salary': '$3,635,760', '20_21_salary': '$5,195,501'}
255
{'player_name': 'Michael Porter', '19_20_salary': '$3,389,400', '20_21_salary': '$3,550,800'}
270
{'player_name': 'Nickeil Alexander-Walker', '19_20_salary': '$2,964,840', '20_21_salary': '$3,113,160'}
285
{'player_name': 'Marko Guduric', '19_20_salary': '$2,625,000', '20_21_salary': '$2,750,000'}
300
{'player_name': 'Anthony Tolliver', '19_20_salary': '$2,564,753', '20_21_salary': '$0'}
315
{'player_name': 'Alec Burks', '19_20_salary': '$2,320,044', '20_21_salary': '$0'}
330
{'player_name': 'Nassir Little', '19_20_salary': '$2,105,520', '20_21_salary': '$2,210,640'}
345
{'player_name': 'Kyle Kuzma', '19_20_salary': '$1,974,600', '20_21_salary': '$3,562,178'}
360
{'player_name': 'Bruno Caboclo', '19_20_salary': '$1,845,301', '20_21_salary': '$0'}
375
{'player_name': 'Christian Wood', '19_20_salary': '$1,645,357', '20_21_salary': '$0'}
390
{'player_name': 'Wesley Iwundu', '19_20_salary': '$1,618,520', '20_21_salary': '$0'}
405
{'player_name': 'Derrick Walton', '19_20_salary': '$1,445,697', '20_21_salary': '$0'}
420
{'player_name': 'Alize Johnson', '19_20_salary': '$1,416,852', '20_21_salary': '$0'}
435
{'player_name': 'Cody Martin', '19_20_salary': '$1,173,310', '20_21_salary': '$1,517,981'}
450
{'player_name': 'Alen Smailagic', '19_20_salary': '$898,310', '20_21_salary': '$1,517,981'}
465
{'player_name': 'Juwan Morgan', '19_20_salary': '$796,806', '20_21_salary': '$0'}
480
{'player_name': 'Iman Shumpert', '19_20_salary': '$406,335', '20_21_salary': '$0'}
495
{'player_name': 'William Howard', '19_20_salary': '$129,568', '20_21_salary': '$0'}
510
{'player_name': 'Kobi Simmons', '19_20_salary': '$79,568', '20_21_salary': '$0'}
525
{'player_name': 'Johnathan Motley', '19_20_salary': '$79,568', '20_21_salary': '$0'}
540
{'player_name': 'Kenny Wooten', '19_20_salary': '$79,568', '20_21_salary': '$0'}
555
{'player_name': 'Shamorie Ponds', '19_20_salary': '$79,568', '20_21_salary': '$0'}

In [227]:
salary_df = pd.DataFrame(players_with_salary)
salary_df

           player_name 19_20_salary 20_21_salary
0        Stephen Curry  $40,231,758  $43,006,362
1    Russell Westbrook  $38,506,482  $41,358,814
2           Chris Paul  $38,506,482  $41,358,814
3         James Harden  $38,199,000  $41,254,920
4            John Wall  $38,199,000  $41,254,920
..                 ...          ...          ...
557   Garrison Mathews      $79,568           $0
558     Marques Bolden      $50,751           $0
559       Malik Newman      $50,751           $0
560          Eric Mika      $50,751           $0
561        Joe Chealey      $50,000           $0

[562 rows x 3 columns]

In [228]:
salary_df.to_csv('datasets/salary.csv', index=False)

## Lets get TEAM NAMES

In [229]:
from nba_api.stats.endpoints import playerprofilev2

In [230]:
playerprof = playerprofilev2.PlayerProfileV2(player_id=200746)

In [266]:
from nba_api.stats.endpoints import playerprofilev2
for each in 
playerprof = playerprofilev2.PlayerProfileV2(player_id=200746)
players = playerprof.get_data_frames()[0]
player_with_team = {'team_id' : players['TEAM_ID'].loc[players['SEASON_ID'] == '2019-20'],
                    'player_id' : each}

13    1610612759
Name: TEAM_ID, dtype: int64

13    1610612759
Name: TEAM_ID, dtype: int64